
.navbar-expand-lg .navbar-dark .bg-dark .text-white .fixed-top:hover {
    color:#lebba3;
}
.home-inner{
    background-image: url("study.jpg");
    background-position: 100%;
    background-size: 100% 100%;
    background-attachment:fixed;
}

.caption{
    padding-top: 10%;
    padding-left: 40%;
}

.container{
    background-color: #fff;
    padding: 40px;
    border-radius: 1.6rem;
    margin: 5% auto;
    width: 40%;
    color: black;
    box-shadow: 3px 3px 15px 0 #000;
}

legend{
    border: 1px solid black;

}
